<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giftia.animalatlasserve.mapper.LikeRecordMapper">

    <resultMap id="BaseResultMap" type="com.giftia.animalatlasserve.domain.LikeRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="animalId" column="animal_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,animal_id,user_id
    </sql>
</mapper>
